#!/bin/bash
# vim: filetype=bash
#
# Install core required packages for a Ubuntu machine
# Currently only supports 22.04+ (earlier LTS will have older releases)
#
{{ if eq .chezmoi.os "darwin" -}}
{{ include ".helpers/common.sh" }}
{{ include ".helpers/pkgs.sh" }}

# Define additional apps specific to MacOS
#PKGS[gnome-tweaks]='Gnome enhancements;https://packages.ubuntu.com/source/focal/gnome-tweaks;2;gnome-tweaks'

# Installer functions
# =====================

# Helpers
# ---------
brew_install() { sudo apt install -y ${@}; }
pip_install() { sudo pip3 install ${@}; }
npm_install() { sudo npm install -g ${@}; }
add_repo() {
    if ! grep -q "^deb .*${1}" /etc/apt/sources.list /etc/apt/sources.list.d/*; then
        sudo add-apt-repository -y ppa:${1} && sudo apt update
    fi
}

# Installers
# ------------
PKGS.fzf() { brew_install fzf; }
PKGS.jq() { brew_install jq; }
PKGS.starship() {
    sh -c "$(curl -fsSL https://starship.rs/install.sh)" || exit 1
}
PKGS.zoxide() { curl -sS https://webinstall.dev/zoxide | bash; }

# ======
# MAIN
# ======
msg "Before: Installing pkgs"

step "Installing core apps/managers"
sudo apt update
brew_install curl git nodejs npm python3 python3-pip wget
{{ if not .headless -}}
{{ end -}} # [if not headless]

step "Installing packages"
install_pkgs PKGS {{ .headless }} {{ .ephemeral }}

step "Cleaning unused packages..."
sudo apt autoremove

trap bye EXIT

{{ end -}} # [if linux-ubuntu]
