#!/bin/bash

set -eufo pipefail

{{ $brews := list
     "bat"
     "curl"
     "exa"
     "ffmpeg"
     "gh"
     "git"
     "git-lfs"
     "gnupg"
     "jq"
     "pinentry-mac"
     "ripgrep"
     "tmux"
     "wget"
     "xz"
     "yt-dlp" -}}
{{ $casks := list
     "firefox"
     "google-chrome"
     "iterm2"
     "spotify"
     "vagrant"
     "visual-studio-code"
     "vlc" -}}

{{ if eq .chezmoi.arch "amd64" -}}
{{   $brews = concat $brews (list
       "shellcheck") -}}
{{ end -}}

{{ if .personal -}}
  {{ if and (eq .chezmoi.os "darwin") (le "12" (substr 7 9 .osid)) -}}
    {{ $casks = concat $casks (list
       "vmware-fusion") -}}
  {{ end -}}
{{   $brews = concat $brews (list
       "gopass"
       "vault") -}}
{{   $casks = concat $casks (list
       "balenaetcher"
       "telegram"
       "transmission"
       "whatsapp") -}}
{{ end -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "homebrew/core"
tap "homebrew/bundle"
tap "homebrew/services"

{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
