{{/* boolean feature tags */}}
{{- $coding    := false -}}{{/* true if this machine should have developer tools */}}
{{- $docker    := false -}}{{/* true if this machine should have Docker installed */}}
{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $personal  := false -}}{{/* true if this machine should have personal secrets */}}
{{- $headless  := false -}}{{/* true if this machine is a remote one */}}

{{/* Developer flavors */}}
{{- $go      := false -}}
{{- $rust    := false -}}
{{- $shell   := false -}}
{{- $python  := false -}}
{{- $android := false -}}
{{- "" -}}

{{/* Packing system */}}
{{- $brew     := eq .chezmoi.os "darwin" -}}
{{- $rpm      := ne "" (lookPath "rpm") -}}
{{- $ostree   := ne "" (lookPath "rpm-ostree") -}}
{{- $deb      := ne "" (lookPath "dpkg") -}}
{{- $flatpak  := ne "" (lookPath "flatpak") -}}
{{- $snap     := ne "" (lookPath "snap") -}}
{{- "" -}}

{{/* os short name */}}

{{/* detect Linux flavor */}}
{{- $osid := .chezmoi.os -}}
{{- if eq .chezmoi.os "linux" -}}
{{-   if hasKey .chezmoi.osRelease "id" -}}
{{-     $osid = printf "%s-%s" .chezmoi.osRelease.id .chezmoi.os -}}
{{-     if hasKey .chezmoi.osRelease "variantID" -}}
{{-       $osid = printf "%s-%s" .chezmoi.osRelease.id .chezmoi.osRelease.variantID -}}
{{-     end -}}
{{-   end -}}
{{  end -}}
        
{{/* detect MacOS version */}}
{{- if eq .chezmoi.os "darwin" -}}
    {{ $macos_version := output "sw_vers" "-productVersion" | trim }}
    {{- if ne $macos_version "" -}}
        {{- $osid = printf "%s-%s" .chezmoi.os $macos_version -}}
    {{- end -}}
{{- end -}}

{{/* detect WSL */}}
{{- $is_wsl := false -}}{{/* true if this is a WSL linux machine */}}
{{- if eq .chezmoi.os "linux" -}}
{{-   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
{{-     $is_wsl = true -}}
{{-   end -}}
{{- end -}}

{{/* detect GitHub codespaces, VSCode remote containers, Docker containers, Multipass VMs, and Vagrant boxes */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "esp" "root" "ubuntu" "vagrant" "vscode") -}}
{{-   $ephemeral = true -}}
{{-   $headless = true -}}
{{- end -}}

{{/* prompt email */}}
{{- $email := "" -}}
{{- if stdinIsATTY -}}
{{-   if hasKey . "email" -}}
{{-     $email = .email -}}
{{-   else -}}
{{-     $email = promptString "Insert GitHub email" -}}
{{-   end -}}
{{- end -}}

{{/* Default config for our machines */}}
{{- if eq .chezmoi.hostname "MacBook-Pro-2022" -}}
{{-   $docker   = true -}}
{{-   $personal = true -}}
{{-   $coding   = true -}}

{{- else if eq .chezmoi.hostname "raspberrypi" -}}
{{-   $personal = true -}}

{{- else if stdinIsATTY -}}
{{-   $personal = promptBoolOnce . "personal" "Install Personal Secrets" -}}
{{-   $docker = promptBoolOnce . "docker" "Container Support" -}}
{{-  if $docker -}}
{{-    $coding = promptBoolOnce . "coding" "Install Developer tools" -}}
{{-  else -}}
{{-   $ephemeral = promptBoolOnce . "ephemeral" "Is a short lived machine" -}}
{{-  end -}}
{{- else -}}
{{-   $ephemeral = true -}}
{{-   $headless = true -}}
{{- end -}}

{{- if $personal }}
encryption = "age"
[age]
    identity = "~/.config/chezmoi/.chezmoisecret"
    recipient = "age1fzh7f38c46er0xz5xevc3ga8ya8lwv6gh4s5d662vht07uv9sg4sgm8cs5"
{{- end }}

[data]
    email = {{ $email | quote }}
    osid = {{ $osid | quote }}
    hostname = {{ .chezmoi.hostname | quote }}

{{/* Flavors */}}
    core.ephemeral = {{ $ephemeral }}
    core.coding = {{ $coding }}
    core.docker = {{ $docker }}
    core.personal = {{ $personal }}
    core.headless = {{ $headless }}

{{/* Pkgs systems */}}
    pkgs.brew = {{ $brew }}
    pkgs.rpm = {{ $rpm }}
    pkgs.deb = {{ $deb }}
    pkgs.ostree = {{ $ostree }}
    pkgs.flatpak = {{ $flatpak }}
    pkgs.snap = {{ $snap }}

{{/* Tookboxes */}}
    flavors.go = {{ $go }}
    flavors.python = {{ $python }}
    flavors.rust = {{ $rust }}
    flavors.shell = {{ $shell }}
    flavors.android = {{ $android }}

