# General
.config/chezmoi/.chezmoisecret.age

{{ if ne .chezmoi.os "darwin" }}
.chezmoiscripts/darwin/**
Library/Application Support/Code/**
{{ end }}

{{ if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux/**
.cache/Code/**
.config/Code/**
.config/containers/**
.local/bin/podman-host
.local/bin/host-spawn
.local/share/applications
.var/**
{{ end }}

{{ if not .core.personal }}
.config/gnupg
.ssh
{{ end }}
