# Git Config is on .config
.gitconfig
.gitignore

# Remove legacy code here
.bash_history
.bash_sessions
.dotnet
.dotnet
.histfile
.mozilla
.oh-my-zsh
.profile
.viminfo
.zcompdump**
.zsh_history
.zsh_sessions
.zshrc.bak

{{- if ne .chezmoi.os "linux" }}
.pki
.vscode
{{- end }}
