# Shell configuration helper
[".config/xsh"]
    type = "archive"
    url = "https://github.com/simifalaye/xsh/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

# Zsh Plugins
[".cache/zsh/plugins/alias-tips"]
    type = "archive"
    url = "https://github.com/Crandel/alias-tips/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".cache/zsh/plugins/zsh-syntax-highlighting"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-syntax-highlighting/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".cache/zsh/plugins/zsh-defer"]
    type = "archive"
    url = "https://github.com/romkatv/zsh-defer/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

{{- if not .core.headless }}

#  Fonts
{{-   $fontDir := "" }}
{{-   if eq .chezmoi.os "darwin" }}
{{-     $fontDir = "Library/Fonts" }}
{{-   else if eq .chezmoi.os "linux" }}
{{-     $fontDir = ".local/share/fonts" }}
{{-   end }}

# MesloLGS fonts
{{-   range (list
        "MesloLGS NF Regular.ttf"
        "MesloLGS NF Bold.ttf"
        "MesloLGS NF Italic.ttf"
        "MesloLGS NF Bold Italic.ttf") }}
["{{ $fontDir }}/{{ . }}"]
    type = "file"
    url = "https://github.com/romkatv/powerlevel10k-media/raw/master/{{ . }}"
    refreshPeriod = "168h"
{{-   end }}

# FiraCode fonts
{{-   range (list
        "FiraCodeNerdFont-Regular.ttf"
        "FiraCodeNerdFontMono-Regular.ttf") }}
["{{ $fontDir }}/{{ . }}"]
    type = "file"
    url = "https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/FiraCode/Regular/{{ . }}"
    refreshPeriod = "168h"
{{-   end }}

{{- end }}

{{- if .core.personal }}

# Age
{{ $ageVersion := "1.1.1" }}
[".local/bin/age"]
    type = "archive-file"
    url = "https://github.com/FiloSottile/age/releases/download/v{{ $ageVersion }}/age-v{{ $ageVersion }}-{{ .chezmoi.os }}-{{ .chezmoi.arch }}.tar.gz"
    path = "age/age"
    refreshPeriod = "168h"

# Linux specific helpers
{{- if eq .chezmoi.os "linux" }}

# Download corresponding archive
{{ $xremapFlavor:= "gnome" }}
[".local/bin/xremap"]
    type = "archive-file"
    url = "https://github.com/k0kubun/xremap/releases/latest/download/xremap-{{ .chezmoi.os }}-x86_64-{{ $xremapFlavor }}.zip"
    path = "xremap"
    refreshPeriod = "168h"
{{- end }}

# Terminal Themes for Darwin
{{-   if eq .chezmoi.os "darwin" }}
{{-   range (list
        "Atom"
        "Github"
        "GitHub Dark") }}
[".config/themes/{{ . }}/terminal/{{ . }}.terminal"]
    type="file"
    url="https://raw.githubusercontent.com/mbadolato/iTerm2-Color-Schemes/master/terminal/{{ . }}.terminal"
    refreshPeriod = "168h"
{{-   end }}
{{-  end }}

{{- end }}

{{- if .core.coding }}

# Linux specific helpers
{{-   if eq .chezmoi.os "linux" }}

# Keybindings to mimic MacOS ones on linux desktops
{{ $templateDir := joinPath (substr (add 1 (len .chezmoi.homeDir) | int) -1 .chezmoi.sourceDir) "/.chezmoitemplates" }}
[ "{{ $templateDir }}/Code/macos.keybindings.json" ]
    type = "file"
    url = "https://raw.githubusercontent.com/codebling/vs-code-default-keybindings/master/macos.keybindings.json"
    refreshPeriod = "24h"

# VSCode launcher for linux
[".cache/toolbox-vscode"]
    type = "git-repo"
    url = "https://github.com/inean/toolbox-vscode.git"
    refreshPeriod = "168h"

{{- end }}

{{- end }}
