# General
.config/chezmoi/.chezmoisecret.age

{{ if ne .chezmoi.os "darwin" }}
.chezmoiscripts/darwin/**
Applications/**
{{ end }}

{{ if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux/**
.config/containers/**
.local/bin/code
.local/bin/host-spawn
.local/bin/podman-host
.local/share/applications
.var/**
{{ end }}

{{ if not .core.personal }}
.config/gnupg
.ssh
{{ end }}
