# vim: filetype=toml

# Shell configuration helper
[".config/xsh"]
    type = "archive"
    url = "https://github.com/simifalaye/xsh/archive/master.tar.gz"
    exact = true
    stripComponents = 1

{{- if and (not .core.ephemeral) (not .core.headless) }}
{{-   $fontDir := "" }}
{{-   if eq .chezmoi.os "darwin" }}
{{-     $fontDir = "Library/Fonts" }}
{{-   else if eq .chezmoi.os "linux" }}
{{-     $fontDir = ".local/share/fonts" }}
{{-   end }}

# Terminal Themes
# See https://github.com/mbadolato/iTerm2-Color-Schemes/tree/master/schemes for more options
{{-   if eq .chezmoi.os "darwin" }}
{{-   range (list
        "Atom"
        "Github"
        "GitHub Dark") }}
[".config/themes/{{ . }}/terminal/{{ . }}.terminal"]
    type="file"
    url="https://raw.githubusercontent.com/mbadolato/iTerm2-Color-Schemes/master/terminal/{{ . }}.terminal"
    refreshPeriod = "168h"
[".config/themes/{{ . }}/iterm2/{{ . }}.itermcolors"]
    type="file"
    url="https://raw.githubusercontent.com/mbadolato/iTerm2-Color-Schemes/master/schemes/{{ . }}.itermcolors"
    refreshPeriod = "168h"
{{-   end }}
{{-   end }}

# Install MesloLGS fonts
{{-   range (list
        "MesloLGS NF Regular.ttf"
        "MesloLGS NF Bold.ttf"
        "MesloLGS NF Italic.ttf"
        "MesloLGS NF Bold Italic.ttf") }}
["{{ $fontDir }}/{{ . }}"]
    type = "file"
    url = "https://github.com/romkatv/powerlevel10k-media/raw/master/{{ . }}"
    refreshPeriod = "168h"
{{-   end }}

#Install Fira Code fonts
{{-   range (list
        "FiraCodeNerdFont-Regular.ttf"
        "FiraCodeNerdFontMono-Regular.ttf") }}
["{{ $fontDir }}/{{ . }}"]
    type = "file"
    url = "https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/FiraCode/Regular/{{ . }}"
    refreshPeriod = "168h"
{{-   end }}

{{- end }}

# Zsh Plugins
[".cache/zsh/plugins/alias-tips"]
    type = "archive"
    url = "https://github.com/Crandel/alias-tips/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".cache/zsh/plugins/zsh-syntax-highlighting"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-syntax-highlighting/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".cache/zsh/plugins/zsh-defer"]
    type = "archive"
    url = "https://github.com/romkatv/zsh-defer/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
