

# plugin management
ZSH_CUSTOM_PLUGINS=$XDG_CACHE_HOME/zsh/plugins
alias src='source'
if [ -d $ZSH_CUSTOM_PLUGINS/zsh-defer ]; then
  alias src='zsh-defer source'
  source $ZSH_CUSTOM_PLUGINS/zsh-defer/zsh-defer.plugin.zsh
fi
{{- range (list
  "zsh-async"
  "zsh-notify"
  "zsh-history-substring-search"
  "alias-tips"
  "zsh-autosuggestions"
  "zsh-syntax-highlighting"
  "zsh-completions"
  "zsh-interactive-cd"
  "zsh-history-substring-search") }}
{{-   $pluginDir := joinPath $ZSH_CUSTOM_PLUGINS . }}
{{-   if stat $pluginDir }}
{{-     $pluginFiles := mustFind $pluginDir }}
{{-     range $pluginFiles }}
{{-       if not (hasSuffix ".zsh" .) }}
{{-         continue }}
{{-       end }}
{{-       $pluginFile := joinPath $pluginDir . }}
{{-       if stat $pluginFile }}
            src $pluginFile
{{-       end }}
{{-     end }}
{{-   end }}
{{- end }}

# If you come from bash you might have to change your $PATH.
{{- $paths := list }}
{{- $homeDir := .chezmoi.homeDir }}
{{- range $_, $relPath := list "bin" ".cargo/bin" ".local/bin" }}
{{    $path := joinPath $homeDir $relPath }}
{{-   if stat $path }}
{{-     $paths = mustAppend $paths $path }}
{{-   end }}
{{- end }}
{{- if $paths }}
export PATH={{ toStrings $paths | join ":" }}:$PATH
{{- end }}

# User configuration
PROMPT="%{$fg[white]%}%n@%{$fg[green]%}%m%{$reset_color%} ${PROMPT}"

setopt histignorespace
setopt rm_star_silent

alias g=git
alias gnp="git --no-pager"
{{- if lookPath "bat" }}
alias cat=bat
{{- else if lookPath "batcat" }}
alias cat=batcat
{{- end }}
{{- if lookPath "exa" }}
alias ls=exa
{{- end }}

export EDITOR=vim
{{- if eq .chezmoi.os "darwin" }}
export HOMEBREW_NO_AUTO_UPDATE=1
{{- end }}
export LANG=es_ES.UTF-8
export LC_ALL=es_ES.UTF-8

{{- if .personal }}

export CHEZMOI_GITHUB_ACCESS_TOKEN={{ gopass "/Personal/chezmoi GitHub API Token/credential" }}
{{-   if eq .chezmoi.os "darwin" }}
export HOMEBREW_GITHUB_API_TOKEN={{ gopass "/Personal/Homebrew GitHub API Token/credential" }}
{{-   end }}
{{- end }}

{{- if .flarm }}

export OBSTACLE_ENV=${HOME}/src/obstacle/obstacle_toolchain
export KEY_PATH="${HOME}/Development Secrets and Keys/current"
export TOOLCHAIN_PATH=${HOME}/toolchain_bin
export IDF_TOOLS_PATH=${TOOLCHAIN_PATH}/esp32

alias obstacle=${OBSTACLE_ENV}/oenv/bin/obstacle
alias osm_export=${OBSTACLE_ENV}/oenv/bin/osm_export
alias dem=${OBSTACLE_ENV}/dem.sh
{{- end }}

# direnv
which direnv >/dev/null && eval "$(direnv hook zsh)"

github-cd() {
	local dir="${HOME}/src/github.com/$1"
	cd "${dir}"
}

github-clone-cd() {
	local prefix=https://github.com/
	if [ "$1" = "--ssh" ]; then
		prefix=git@github.com:
		shift
	fi
	local dir="${HOME}/src/github.com/$1"
	if [ ! -d "${dir}" ]; then
		git clone "${prefix}$1.git" "${dir}"
	fi
	cd "${dir}"
}

github-clone-code() {
	local prefix=https://github.com/
	if [ "$1" = "--ssh" ]; then
		prefix=git@github.com:
		shift
	fi
	local dir="${HOME}/src/github.com/$1"
	if [ ! -d "${dir}" ]; then
		git clone "${prefix}$1.git" "${dir}"
	fi
	code "${dir}"
}

{{- /* vim: set filetype=zsh: */}}
