#
# Core configuration module
#

# XDG Base dir
# ==============
# References:
# - https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html
# - https://wiki.archlinux.org/index.php/XDG_Base_Directory

#
# Paths
# =======

# Prepend user binaries to PATH to allow overriding system commands.
path_prepend "${XDG_BIN_HOME}" PATH
path_prepend "${CARGO_HOME}/bin" PATH

# Browser
# =======
{{ if eq .chezmoi.os "linux" }}
export BROWSER=elinks
# Define the default web browser.
if [ -n "$DISPLAY" ]; then
  if [ "$(command -v xdg-settings)" ]; then
    browser="$(xdg-settings get default-web-browser)"
    export BROWSER="$browser"
  fi
fi
{{ end }}

{{ if eq .chezmoi.os "darwin" }}
# set sanity default
export BROWSER=safari
alias safari='open -a Safari'
# get the default browser
browser=$(defaults read ~/Library/Preferences/com.apple.LaunchServices/com.apple.launchservices.secure | awk -F'"' '/http;/{print window[(NR)-1]}{window[NR]=$2}')
# set the browser
if [ "$browser" = "com.apple.Safari" ]; then
  export BROWSER=safari
elif [ "$browser" = "com.apple.SafariTechnologyPreview" ]; then
  export BROWSER=safari-technology-preview
  alias safari-technology-preview='open -a Safari\ Technology\ Preview'
elif [ "$browser" = "com.google.Chrome" ]; then
  export BROWSER=google-chrome
  alias google-chrome='open -a Google\ Chrome'
elif [ "$browser" = "com.google.Chrome.canary" ]; then
  export BROWSER=chrome-canary
  alias chrome-canary='open -a Google\ Chrome\ Canary'
elif [ "$browser" = "org.mozilla.firefox" ]; then
  export BROWSER=firefox
  alias firefox='open -a Firefox'
fi
{{ end }}

# Editor
# ======
export EDITOR='vim'
# Define the default editor.
if [ "$(command -v code)" ]; then
  alias code='code --user-data-dir="${XDG_CONFIG_HOME}/vscode" --extensions-dir="${XDG_CACHE_HOME}/vscode
  export EDITOR='code'
fi
export GIT_EDITOR="$EDITOR"
export USE_EDITOR="$EDITOR"
export VISUAL="$EDITOR"

# Pager
# =====
export PAGER='less'
