#
# Core configuration module for posix
#

# Do not create group/world writable files by default.
umask a=rx,u+w

# XDG Base dir
# ==============
# References:
# - https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html
# - https://wiki.archlinux.org/index.php/XDG_Base_Directory


# XDG_CONFIG_HOME environment overrides.
export GTK_RC_FILES="$XDG_CONFIG_HOME/gtk-1.0/gtkrc"
export GTK2_RC_FILES="$XDG_CONFIG_HOME/gtk-2.0/gtkrc"
export PSQLRC="$XDG_CONFIG_HOME/psql/psqlrc"
export WGETRC="$XDG_CONFIG_HOME/wget/config"
export RANDFILE="$XDG_CACHE_HOME/openssl/randfile"

{{ if .flavors.android }}
export ANDROID_PREFS_ROOT="$XDG_CONFIG_HOME/android"
export ANDROID_EMULATOR_HOME="$XDG_DATA_HOME/android/emulator"
{{ end }}

# Create parent directories for programs requiring it.
command mkdir -p          \
  ${RANDFILE:h}           \
  ${PSQLRC:h}             \
  ${PSQL_HISTORY:h}

# Editor
# ======
export EDITOR='vim'
# Define the default editor.
if [ "$(command -v code)" ]; then
  alias code='code --user-data-dir="${XDG_CONFIG_HOME}/vscode" --extensions-dir="${XDG_CACHE_HOME}/vscode"'
  export EDITOR='code'
fi
export GIT_EDITOR="$EDITOR"
export USE_EDITOR="$EDITOR"
export VISUAL="$EDITOR"
