{{- /* Go Template */ -}}
{{- $extensions := list -}}
{{- $profile_extensions := dict -}}

{{- $old_extensions := list -}}

{{- if .core.ephemeral -}}
{{- end }}

{{- if .core.personal -}}
{{- $extensions = concat $extensions (list
     "stkb.rewrap"  
     "yzhang.markdown-all-in-one"
     "MS-CEINTL.vscode-language-pack-es"
)}}

{{- /* This should go into it's own profile... */ -}}
{{- if .core.coding -}}
{{- $extensions = concat $extensions (list
     "actboy168.tasks"
     "GitHub.copilot"
     "GitHub.copilot-chat"
     "ms-vscode-remote.remote-containers"
     "mutantdino.resourcemonitor"
     "tamasfe.even-better-toml" 
)}}
{{- end }}

{{- if .flavors.rust -}}
{{- $_ := set $profile_extensions "rust" (list
     "rust-lang.rust-analyzer"
     "vadimcn.vscode-lldb"
     "serayuzgur.crates"
)}}
{{- end }}

{{- $old_extensions = concat $old_extensions (list
     "bungcip.better-toml"
     "DavidAnson.vscode-markdownlint"
     "devMike.mikrotik-routeros-script"
     "EditorConfig.EditorConfig"
     "foxundermoon.shell-format"
     "hashicorp.hcl"
     "mads-hartmann.bash-ide-vscode"
     "mesonbuild.mesonbuild"
     "ms-azuretools.vscode-docker"
     "ms-python.python"
     "ms-python.isort"
     "ms-python.python"
     "ms-python.vscode-pylance"
     "ms-vscode-remote.remote-ssh"
     "ms-vscode-remote.remote-ssh-edit"
     "ms-vscode-remote.vscode-remote-extensionpack"
     "redhat.vscode-yaml"
     "rust-lang.rust-analyzer"
     "streetsidesoftware.code-spell-checker"
     "twpayne.vscode-testscript"
     "Tyriar.sort-lines"
     "vscode-icons-team.vscode-icons"
     "yzhang.markdown-all-in-one")
-}}
{{- end -}}

{{ if len $extensions  -}}
#!/bin/sh

set -eu -o pipefail

{{- if .pkgs.flatpak }}
# add an alias to flatpak code so we can find it
if flatpak list | grep -q "com.visualstudio.code"; then
  if ! command -v code >/dev/null; then
    alias code="flatpak run com.visualstudio.code"
  fi
fi
{{- end }}

if command -v code >/dev/null; then
  {{- $installed_extensions := splitList " " (output "sh" "-c" "code --list-extensions | tr '\n' ' '" | trim) }}
    # Purge extensions not listed here
  {{- range $installed_extensions }}
    {{- if not (has . $extensions) }} 
    code --uninstall-extension "{{ . }}"
    {{- end }}
  {{- end }}

    # Install missing extensions
  {{- range $extensions }}
    {{- if not (has . $installed_extensions) }}
    code --install-extension "{{ . }}"
    {{- end }}
  {{- end }}
    # Just ensure this conditional is not empty...
    :
fi
{{- end }}

