{{- /* Go Template */ -}}
{{- $extensions := list -}}
{{- $profile_extensions := dict -}}

{{- $old_extensions := list -}}

{{- if .core.ephemeral -}}
{{- end }}

{{- if .core.personal -}}
{{- $extensions = concat $extensions (list
     "actboy168.tasks"
     "github.copilot-chat"
     "github.copilot"
     "jinliming2.vscode-go-template"
     "ms-ceintl.vscode-language-pack-es"
     "mutantdino.resourcemonitor"
     "shardulm94.trailing-spaces"
     "stkb.rewrap"
     )}}

{{- /* This should go into it's own profile... */ -}}
{{- if .core.coding -}}
{{- $extensions = concat $extensions (list
     "ms-vscode-remote.remote-containers"
     "ms-vscode.live-server"
     "ms-vscode.remote-explorer"
     "ms-vscode.remote-server"
     "redhat.vscode-yaml"
     "ryanluker.vscode-coverage-gutters"
     "tamasfe.even-better-toml"
     "usernamehw.errorlens"
     )}}
{{- end }}

{{- if .flavors.markdown -}}
{{- $_ := set $profile_extensions "markdown" (list
     "bierner.markdown-preview-github-styles"
     "davidanson.vscode-markdownlint"
     "yzhang.markdown-all-in-one"

)}}
{{- end }}

{{- if .flavors.containers -}}
{{- $_ := set $profile_extensions "containers" (list
     "exiasr.hadolint"
     "ms-azuretools.vscode-docker"
)}}
{{- end }}

{{- if .flavors.python -}}
{{- $_ := set $profile_extensions "python" (list
     "charliermarsh.ruff"
     "kevinrose.vsc-python-indent"
     "ms-python.debugpy"
     "ms-python.python"
     "ms-python.vscode-pylance"
)}}
{{- end }}

{{- if .flavors.rust -}}
{{- $_ := set $profile_extensions "rust" (list
     "rust-lang.rust-analyzer"
     "serayuzgur.crates"
     "vadimcn.vscode-lldb"
)}}
{{- end }}

{{- $old_extensions = concat $old_extensions (list
     "devMike.mikrotik-routeros-script"
     "EditorConfig.EditorConfig"
     "foxundermoon.shell-format"
     "hashicorp.hcl"
     "mads-hartmann.bash-ide-vscode"
     "ms-python.isort"
     "ms-vscode-remote.remote-ssh-edit"
     "ms-vscode-remote.vscode-remote-extensionpack"
     "redhat.vscode-yaml"
     "streetsidesoftware.code-spell-checker"
     "twpayne.vscode-testscript"
     "Tyriar.sort-lines"
     "vscode-icons-team.vscode-icons"
)}}
{{- end -}}

{{- /* Merge profile entensions into one big install */ -}}
{{- range $key, $value := $profile_extensions -}}
  {{- $extensions = concat $extensions $value -}}
{{- end -}}

{{ if len $extensions  -}}
#!/bin/sh

set -eu -o pipefail

{{- if .pkgs.flatpak }}
# add an alias to flatpak code so we can find it
if flatpak list | grep -q "com.visualstudio.code"; then
  if ! command -v code >/dev/null; then
    alias code="flatpak run com.visualstudio.code"
  fi
fi
{{- end }}

if command -v code >/dev/null; then
  {{- $installed_extensions := splitList " " (output "sh" "-c" "code --list-extensions | tr '\n' ' '" | trim) }}
  {{- $installed_extensions_versioned := splitList " " (output "sh" "-c" "code --list-extensions --show-versions | tr '\n' ' '" | trim) }}
   # Purge extensions not listed here
  {{- range $i, $ext := $installed_extensions }}
    {{- $full_ext := index $installed_extensions_versioned $i }}
    {{- if and (not (has . $extensions)) (not (has $full_ext $extensions)) }}
    code --uninstall-extension "{{ . }}"
    {{- end }}
  {{- end }}

    # Install missing extensions
  {{- range $extensions }}
    {{- if and (not (contains "@" .)) (not (has . $installed_extensions)) }}
    code --install-extension "{{ . }}"
    {{- end }}
  {{- end }}
  {{- range $extensions }}
    {{- if and (contains "@" .) (not (has . $installed_extensions_versioned)) }}
    code --install-extension "{{ . }}"
    {{- end }}
  {{- end }}
    # Just ensure this conditional is not empty...
    :
fi
{{- end }}

