#!/bin/bash

{{- if eq .chezmoi.os "linux" "darwin" }}

echo "After: Setting up chezmoi"

if [ $(command -v chezmoi) ]; then
    if [ -d "${BASH_COMP_DIR}" ] && [ ! -f "${BASH_COMP_DIR}/chezmoi" ]; then
        echo "Installing chezmoi bash completions..."
        chezmoi completion bash | sudo tee ${BASH_COMP_DIR}/chezmoi > /dev/null
    fi
    if [ -d "${ZSH_COMP_DIR}" ] && [ ! -f "${ZSH_COMP_DIR}/_chezmoi" ]; then
        echo "Installing chezmoi zsh completions..."
        chezmoi completion zsh | sudo tee ${ZSH_COMP_DIR}/_chezmoi > /dev/null
    fi
fi

{{- end -}}