#!/bin/bash

set -ef -o pipefail

{{ if eq .chezmoi.os "linux" "darwin" }}
# ======
# MAIN
# ======

echo "After: Setting up shell"

{{ if eq .chezmoi.os "linux" }}
cur_shell=$(cat /etc/passwd | grep $USER | awk -F ":" '{print $NF}')
{{ else if eq .chezmoi.os "darwin" }}
cur_shell=$(dscl . -read /Users/$USER UserShell | awk -F ": *" '{print $NF}')
{{ else }}
cur_shell=$SHELL
{{ end }}

tar_shell=$(command -v zsh >/dev/null && echo zsh || echo bash)
if [ ! -x "${cur_shell}" ] || [[ ${cur_shell} != *"${tar_shell}"* ]]; then
    echo "Changing the login shell to ${tar_shell}..."
    sudo chsh -s "$(which ${tar_shell})" $USER
fi


# xsh requires gln to link properly, but on m1 it's located on homebrew...
{{ if and (eq .chezmoi.os "darwin") ( eq .chezmoi.arch "arm64" ) }}
    export PATH="/opt/homebrew/bin:$PATH"
{{ end }}

if ! $(command -v xsh >/dev/null) && [ -r "$HOME/.config/xsh/xsh.sh" ]; then
    echo "Bootstrapping xsh..."
    source "$HOME/.config/xsh/xsh.sh"
    xsh bootstrap -v --shells "${tar_shell}"
fi

{{- end -}}
