#!/bin/sh

{{ if .personal }}
CHEZMOISECRET="${HOME}/.config/chezmoi/.chezmoisecret"
if [ ! -f "${CHEZMOISECRET}" ]; then
    age --decrypt --output "${CHEZMOISECRET}" "{{ .chezmoi.sourceDir }}/dot_config/chezmoi/.chezmoisecret.age"
    chmod 600 "${CHEZMOISECRET}"
fi
{{ end }}
