#
# Core configuration module
#
# Env functions
# ===============

# Usage: indirect_expand PATH -> $PATH
indirect_expand () {
    /usr/bin/env | /usr/bin/sed -n "s/^$1=//p"
}

# Usage: path_remove /path/to/bin [PATH]
# Eg, to remove ~/bin from $PATH
#     path_remove ~/bin PATH
path_remove () {
    local IFS=':'
    local newpath
    local dir
    local var=${2:-PATH}
    # Bash has ${!var}, but this is not portable.
    for dir in $(indirect_expand "$var"); do
        IFS=''
        if [ "$dir" != "$1" ]; then
            newpath=$newpath:$dir
        fi
    done
    export $var=${newpath#:}
}

# Usage: path_prepend /path/to/bin [PATH]
# Eg, to prepend ~/bin to $PATH
#     path_prepend ~/bin PATH
path_prepend () {
    [ -d "${1}" ] || return
    # if the path is already in the variable,
    # remove it so we can move it to the front
    path_remove "$1" "$2"
    local var="${2:-PATH}"
    local value=$(indirect_expand "$var")
    export ${var}="${1}${value:+:${value}}"
}

# Usage: path_append /path/to/bin [PATH]
# Eg, to append ~/bin to $PATH
#     path_append ~/bin PATH
path_append () {
    [ -d "${1}" ] || return
    path_remove "${1}" "${2}"
    local var=${2:-PATH}
    local value=$(indirect_expand "$var")
    export $var="${value:+${value}:}${1}"
}

# Usage: path_command bin <args>
# get an array of full paths to a command. If any args is given, the
# command is executed with those args. If successful, the full path to
# the command is printed to stdout.
# Eg, to get the full path to the 'ls' command
#     path_command ls
# Eg, to get the full path to the 'ls' command and execute it
#     path_command ls -l
# Eg, to get the full path to the 'ls' command and execute it, but
#     only if it is in the path
#     path_command ls -l && ls -l
path_command () {
    local cmd="$1"
    shift
    local IFS=':'
    local dir
    for dir in $(indirect_expand PATH); do
        if [ -x "${dir}/${cmd}" ]; then
            if [ $# -gt 0 ]; then
                "${dir}/${cmd}" "$@"
                if [ $? -eq 0 ]; then
                    echo "${dir}/${cmd}"
                fi
            else
                echo "${dir}/${cmd}"
            fi
            return 0
        fi
    done
    return 1
}

# If you come from bash you might have to change your $PATH.
{{- $paths := list }}
{{- $homeDir := .chezmoi.homeDir }}
{{- range $_, $relPath := list "bin" ".local/bin" }}
{{   $path := joinPath $homeDir $relPath -}}
        path_prepend {{ $path }} PATH
{{- end }}

# Explicitly set XDG base dirs as they are needed later
export XDG_BIN_HOME="${HOME}/.local/bin" && mkdir -p ${XDG_BIN_HOME}
export XDG_CACHE_HOME="${HOME}/.cache" && mkdir -p "${XDG_CACHE_HOME}"
export XDG_CONFIG_HOME="${HOME}/.config" && mkdir -p ${XDG_CONFIG_HOME}
export XDG_DATA_HOME="${HOME}/.local/share" && mkdir -p ${XDG_DATA_HOME}
export XDG_OPT_HOME="${HOME}/.local/opt" && mkdir -p ${XDG_OPT_HOME}
export XDG_STATE_HOME="${HOME}/.local/state" && mkdir -p ${XDG_STATE_HOME}

# Export needed XDG user directories.
export XDG_PROJECTS_DIR="$HOME/Projects"

# App specific overrides
export GNUPGHOME="${XDG_DATA_HOME}/gnupg" && mkdir -p ${GNUPGHOME}

# python
export RYE_HOME="${XDG_OPT_HOME}/rye"
path_prepend "${RYE_HOME}/shims" PATH

# go
export GOPATH="${XDG_OPT_HOME}/go"
path_prepend "${GOPATH}/bin" PATH

# cargo
export RUSTUP_HOME="${XDG_OPT_HOME}/rustup"
export CARGO_HOME="${XDG_OPT_HOME}/cargo"
path_prepend "${CARGO_HOME}/bin" PATH

# npm
export NPM_CONFIG_PREFIX="${XDG_OPT_HOME}/npm"
export NPM_CONFIG_USERCONFIG="${XDG_OPT_HOME}/npm/npmrc"
export NODE_REPL_HISTORY="${XDG_STATE_HOME}/node/repl_history"

# brew
{{ if and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "arm64") -}}
path_prepend "/opt/homebrew/bin"
path_prepend "/opt/homebrew/sbin"
{{- end }}

# locale
export LANG=es_ES.UTF-8
export LC_ALL=es_ES.UTF-8

# Create files/dirs with owner r/w permissions
umask 0022
