{{- if and (eq .osid "fedora-silverblue") .core.coding -}}
#!/bin/sh

FLATPAK_VSCODE_RUNTIME="org.freedesktop.Sdk/x86_64/22.08"
FLATPAK_VSCODE_EXTRAS="com.visualstudio.code.tool.podman/x86_64/22.08"
FLATPAK_VSCODE="com.visualstudio.code"

set -ef -o pipefail

echo "After: Install vscode"

# Install Prerequirements
if [ -z "$(toolbox list -c)" ]; then
    echo "Install toolbox"
    yes | toolbox create
fi
if ! flatpak list | grep -q "$FLATPAK_VSCODE_RUNIME"; then
    echo "Install flatpak runtime"
    flatpak install -y "$FLATPAK_VSCODE_RUNTIME"
fi
if ! flatpak list | grep -q "$FLATPAK_VSCODE_EXTRAS"; then
    echo "install podman remote"
    flatpak install -y "$FLATPAK_VSCODE_EXTRAS"
fi
# Install code launcher
if ! flatpak list | grep -q "$FLATPAK_VSCODE"; then
    echo "Install flatpak vscode"
    flatpak install -y "$FLATPAK_VSCODE"            
fi
# Update vscode permissions to allow to access podman from container
if ! flatpak override -u --show $FLATPAK_VSCODE | grep -q "podman"; then
   flatpak override -u --filesystem=xdg-run/podman $FLATPAK_VSCODE
   systemctl --user enable --now podman.socket
fi

if ! command -v "$XDG_BIN_HOME/code" >/dev/null && [ -f "$XDG_CACHE_HOME/toolbox-vscode/code.sh" ]; then
    echo "Install toolbox-vscode"
    ln -s "$XDG_CACHE_HOME/toolbox-vscode/code.sh" "$XDG_BIN_HOME/code"
fi

{{- end }}
