{{- if and .core.coding (eq .osid "fedora-silverblue") -}}
#!/bin/sh

FLATPAK_VSCODE_RUNTIME="org.freedesktop.Sdk/x86_64/22.08"
FLATPAK_VSCODE="com.visualstudio.code"
FLATPAK_VSCODE_BIN_DIR="$HOME/.var/app/com.visualstudio.code/data/node_modules/bin"

set -ef -o pipefail

echo "After: Install vscode"

# test for host-spawn
if [ ! -f $FLATPAK_VSCODE_BIN_DIR/host-spawn ]; then
    echo "Missing host-spawn" || exit 1
fi
# install runtime so we get latest vscode
if ! flatpak list | grep -q "$FLATPAK_VSCODE_RUNIME"; then
    echo "Install flatpak runtime"
    flatpak install -y "$FLATPAK_VSCODE_RUNTIME"
fi
# Install code launcher
if ! flatpak list | grep -q "$FLATPAK_VSCODE"; then
    echo "Install flatpak vscode"
    flatpak install -y "$FLATPAK_VSCODE"            
fi

{{- if .core.docker }} 
# Add permissions
if ! flatpak override -u --show $FLATPAK_VSCODE | grep -q "tmp"; then
    flatpak override -u --filesystem=/tmp $FLATPAK_VSCODE
    flatpak override -u --socket=wayland $FLATPAK_VSCODE
fi

PODMAN=$(command -v podman)
if [ ! -z $PODMAN ]; then
    if [ ! -f "$FLATPAK_VSCODE_BIN_DIR/podman" ]; then
        ln -s "$FLATPAK_VSCODE_BIN_DIR/host-spawn" "$FLATPAK_VSCODE_BIN_DIR/podman"
    fi
fi
{{- end }}

{{- end }}
