{{-
$remove_packages := list
-}}

{{- $sudo := "sudo " -}}
{{- if eq .chezmoi.username "root" -}}
{i-   $sudo = "" -}}
{{- end -}}

#!/bin/sh

set -eu -o pipefail

# rerun in installed packages changes: {{ output "rpm" "-qa" "--qf" "\"%{NAME} \"" | sha256sum }}

{{/* On silverblue install minimal packages on ostree. Tools on a toolbox */}} 
{{- if eq .osid "fedora-silverblue" }}
  {{if $remove_packages }}
    {{- $sudo }}rpm-ostree override remove  {{range $remove_packages }} {{ . }} {{ end }}
  {{- end }}  
{{- end }}
