{{- 
$install_packages := list 
    "zsh"
-}}

{{- if (output "sh" "-c" "lspci | grep BCM4360") }}
{{-    $install_packages = concat $install_packages (list "kmod-wl" "intel-media-driver")}}
{{- end -}}

{{- $sudo := "sudo " -}}
{{- if eq .chezmoi.username "root" -}}
{i-   $sudo = "" -}}
{{- end -}}

#!/bin/sh

set -eu -o pipefail

# rerun in installed packages changes: {{ output "rpm" "-qa" "--qf" "\"%{NAME} \"" | sha256sum }}

{{/* On silverblue install minimal packages on ostree. Tools on a toolbox */}} 
{{- if eq .osid "fedora-silverblue" }}
  {{- if $install_packages }}
    {{- $sudo }}rpm-ostree install --idempotent {{range $install_packages }} {{ . }} {{ end }}
  {{- end }}  
{{- end }}
