#!/bin/sh

set -eu -o pipefail

{{/* */}}
{{- $sudo := "sudo " }}
{{- if eq .chezmoi.username "root" }}
{{-   $sudo = "" }}
{{- end }}

{{- if eq .chezmoi.osRelease.id "fedora" }}

{{-   $source_rpms  := dict -}}
{{-   $remote_rpms  := list -}}
{{-   $local_rpms   := list -}}
{{-   $update_rpms  := list -}}
{{-   $layered_rpms := list -}}

{{-   $ostree  := output "rpm-ostree" "status" "-b" "--json" | fromJsonc }} 
{{-   $release := output "rpm" "-E" "%fedora" | trim }}

{{-   $_ := dict  
        "rpmfusion-free-release"    
        (print "https://mirrors.rpmfusion.org/free/fedora/rpmfusion-free-release-" $release ".noarch.rpm")
        "rpmfusion-nonfree-release"
        (print "https://mirrors.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-" $release ".noarch.rpm")
      | merge $source_rpms }}

{{-   if eq .osid "fedora-silverblue" }}
{{-        $installed_layered_rpms := get (index $ostree.deployments 0) "requested-packages" }}   
{{-        $installed_local_rpms   := get (index $ostree.deployments 0) "requested-local-packages" }}
{{-        range keys $source_rpms }}
{{-            if not (contains . ($installed_layered_rpms | join "@")) }}
{{-                if not (contains . ($installed_local_rpms | join "@")) }}
{{-                    $local_rpms = mustAppend $local_rpms . }}
{{-                else }}
{{-                    $update_rpms = mustAppend $update_rpms . }}
{{-                end }}
{{-            end }} 
{{-        end }}
{{-        if $local_rpms }}
               {{- $sudo }}rpm-ostree install --idempotent  {{ range $local_rpms }}{{ get $source_rpms . }} {{ end }} || exit 1
{{-        end }}
{{         if $update_rpms }}
               {{- $sudo}} rpm-ostree update 
               {{- range $update_rpms }} --uninstall $(rpm -q {{ . }}) --install {{ . }} {{ end }} 
{{         end }}
{{-   else }}
      {{ $sudo }}dnf install ((values $sources_rpms) | join " ")
{{-   end }}
{{- end }}
