{{- $fedora_packs  := list -}}
{{- $flathub_packs := list -}}
{{- $remove_packs  := list -}}

{{/* core packages */}}

{{- /* # GUI core packages */ -}}
{{- if not .core.headless -}}
{{-   $fedora_packs = concat $fedora_packs (list
        `"org.gnome.Evolution"`
) -}}
{{-   $flathub_packs = concat $flathub_packs (list
        `"org.chromium.Chromium"`
) -}}
{{- end }}

{{- if .core.coding }}
{{- $fedora_packs = concat $fedora_packs (list
        `"com.visualstudio.code"`
        `"com.github.tchx84.Flatseal"`
) -}}

{{- if .flavors.go }}
{{-   $flathub_packs = concat $flathub_packs (list
        `"org.freedesktop.Sdk.Extension.golang//22.08"`
) -}}
{{- end }}

{{- if .flavors.rust }}
{{-   $flathub_packs = concat $flathub_packs (list
        `"org.freedesktop.Sdk.Extension.rust-stable//22.08"`
) -}}
{{- end }}

{{- end }}

{{- $sudo := "sudo " -}}
{{- if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!/bin/sh

set -ef -o pipefail

# run if list of flatpak changes: {{ output "flatpak" "list" "--columns" "application" | sha256sum }}

{{- if lookPath "flatpak" }}
{{-   range $fedora_packs }}
( flatpak info {{ . }} > /dev/null 2>&1 || flatpak install -y "fedora" {{ . }} ) 
{{    end }}
{{-   range $flathub_packs }}
( flatpak info {{ . }} > /dev/null 2>&1 || flatpak install -y "flathub" {{ . }} )
{{    end }}
{{-   range $remove_packs }}
(flatpak info {{ . }} > /dev/null 2>&1 && flatpak remove -y {{ . }} )
{{    end }}
{{- end }}
