#
# Browser configuration module

{{ if eq .chezmoi.os "linux" }}
export BROWSER=elinks
# Define the default web browser.
if [ -n "$DISPLAY" ]; then
  if [ "$(command -v xdg-settings)" ]; then
    browse="$(xdg-settings get default-web-browser)"
    export BROWSER="$browse"
  fi
fi
{{ end }}

{{ if eq .chezmoi.os "darwin" }}
# set sanity default
export BROWSER=open
# get the default browser
browser=$(defaults read ~/Library/Preferences/com.apple.LaunchServices/com.apple.launchservices.secure | awk -F'"' '/http;/{print window[(NR)-1]}{window[NR]=$2}')
# set the browser
if [ "$browser" = "com.apple.Safari" ]; then
  safari() {
    open -a 'Safari' "$@"
  }
  export BROWSER=safari
elif [ "$browser" = "com.apple.SafariTechnologyPreview" ]; then
  safari-thechnology-preview() {
    open -a 'Safari\ Technology\ Preview' "$@"
  }
  export BROWSER=safari-technology-preview
elif [ "$browser" = "com.google.Chrome" ]; then
  chrome() {
    open -a 'Google\ Chrome' "$@"
  }
  export BROWSER=chrome
elif [ "$browser" = "com.google.Chrome.Canary" ]; then
  chrome-canary() {
    open -a 'Google\ Chrome\ Canary' "$@"
  }
  export BROWSER=chrome-canary
elif [ "$browser" = "org.mozilla.firefox" ]; then
  firefox() {
    open -a Firefox "$@"
  }
  export BROWSER=firefox
fi
{{ end }}

# Convenience aliases.
alias browse='${BROWSER}'
alias b='browse'
