[org/gnome/desktop/input-sources]
sources=[('xkb', 'es')]

[org/gnome/desktop/interface]
color-scheme='prefer-dark'
toolkit-accessibility=false

[org/gnome/desktop/wm/keybindings]
switch-input-source=@as []
switch-input-source-backward=@as []
switch-panels=@as []
switch-panels-backward=@as []

[org/gnome/login-screen]
enable-fingerprint-authentication=true
enable-password-authentication=true
enable-smartcard-authentication=false

[org/gnome/mutter]
experimental-features=['scale-monitor-framebuffer']

[org/gnome/settings-daemon/plugins/media-keys]
decrease-text-size=@as []
help=@as []
increase-text-size=@as []
magnifier=@as []
magnifier-zoom-in=@as []
magnifier-zoom-out=@as []
on-screen-keyboard=@as []
screenreader=@as []
screensaver=['<Control><Super>q']
toggle-contrast=@as []
toggle-overview=@as []

[org/gnome/shell]
{{- $extensions:=joinPath  .chezmoi.homeDir ".local/share/gnome-shell/extensions" }}
{{- $extensions:=splitList " " (regexReplaceAll "(.+)\n+" (output "ls" "-1" $extensions) "'${1}' " | trim) }}

{{- if gt (len $extensions) 0 }}
enabled-extensions=[{{ $extensions | join ", " }}]
{{- end }}
favorite-apps=['org.gnome.Terminal.desktop', 'com.visualstudio.code.desktop', 'org.chromium.Chromium.desktop', 'org.gnome.Nautilus.desktop', 'org.gnome.Evolution.desktop', 'org.gnome.Software.desktop']
last-selected-power-profile='power-saver'
welcome-dialog-last-shown-version='44.5'

{{- if has "'dash-to-dock@micxgx.gmail.com'" $extensions }}

[org/gnome/shell/extensions/dash-to-dock]
click-action='focus-minimize-or-previews'
custom-theme-shrink=true
dash-max-icon-size=43
disable-overview-on-startup=true
dock-position='BOTTOM'
height-fraction=1.0
hot-keys=false
preferred-monitor=-2
preferred-monitor-by-connector='eDP-1'
show-show-apps-button=false
transparency-mode='FIXED'
{{- end }}

{{- if has "'just-perfection-desktop@just-perfection'" $extensions }}

[org/gnome/shell/extensions/just-perfection]
activities-button=false
alt-tab-icon-size=0
alt-tab-small-icon-size=0
alt-tab-window-preview-size=0
clock-menu-position=1
clock-menu-position-offset=20
dash-icon-size=0
events-button=false
looking-glass-width=0
notification-banner-position=2
overlay-key=false
panel-icon-size=0
panel-size=0
startup-status=0
window-demands-attention-focus=true
world-clock=false
{{- end }}

[org/gnome/shell/keybindings]
focus-active-notification=@as []
toggle-message-tray=@as []

[org/gnome/shell/weather]
automatic-location=true
locations=[<(uint32 2, <('Salamanca', 'LESA', true, [(0.71471232869167789, -0.09599310885968812)], [(0.71500322271810779, -0.098611102737679618)])>)>]

[org/gnome/software]
first-run=false

[org/gnome/terminal/legacy/keybindings]
close-tab='<Super>w'
close-window='<Shift><Super>w'
copy='<Super>c'
find='<Super>f'
find-clear='disabled'
find-next='<Super>g'
find-previous='<Shift><Super>g'
full-screen='<Primary><Super>f'
move-tab-left='disabled'
move-tab-right='disabled'
new-tab='<Super>t'
new-window='<Super>N'
next-tab='<Primary>Tab'
paste='<Super>v'
prev-tab='<Primary><Shift>Tab'
switch-to-tab-1='disabled'
switch-to-tab-10='disabled'
switch-to-tab-2='disabled'
switch-to-tab-3='disabled'
switch-to-tab-4='disabled'
switch-to-tab-5='disabled'
switch-to-tab-6='disabled'
switch-to-tab-7='disabled'
switch-to-tab-8='disabled'
switch-to-tab-9='disabled'
zoom-in='<Super>plus'
zoom-normal='disabled'
zoom-out='<Super>minus'
