{
    "window.titleBarStyle": "custom",
    "dev.containers.dockerPath": "podman",
{{- if .pkgs.flatpak }}
    "terminal.integrated.defaultProfile.linux": "bash",
    "terminal.integrated.env.linux": {
        "LD_PRELOAD": null,
    },
    "bash": {
      "path": "/app/bin/host-spawn",
      "args": ["bash"],
      "icon": "terminal-bash",
      "overrideName": true
    },
{{- end }}
    "telemetry.telemetryLevel": "off"
}
